body {
  font-family: "Montserrat", sans-serif;
  background-image: url("neutral2.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  color: #6a6865bf;
  font-size: 30px;
  line-height: 30px;
  font-size: 38px;
}

ul {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

li {
  list-style: none;
  color: #6a6865bf;
}

li:first-letter {
  text-transform: capitalize;
}
.weather-app-border {
  max-width: 650px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.902);
  border-radius: 10px;
  position: relative;
  background-size: 150%;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
}

.weather-temperature img {
  margin-right: 10px;
  margin-bottom: 30px;
}
.weather-temperature strong {
  color: rgba(255, 255, 255, 0.902);
  font-size: 52px;
  line-height: 1;
  font-weight: 300px;
}
.weather-temperature .units {
  position: relative;
  top: -28px;
}
.weather-temperature .active {
  color: rgba(255, 255, 255, 0.902);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

.current-forecast {
  margin-top: 20px;
}

.units #celsius-conversion,
#fahrenheit-conversion {
  text-decoration: none;
}

#search-form {
  margin-bottom: 20px;
}

.today-forcast {
  margin-bottom: 40px;
}
.line {
  border: 1px solid #5c636a70;
  max-width: 95%;
  margin: 5px auto 10px;
}
.weather-forecast-temperature-max {
  opacity: 0.8;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.forecast-img {
  margin-left: 25px;
  width: 50px;
}

.future-forecast {
  color: #6a6865bf;
  font-family: "Montserrat", sans-serif;
  margin: 8px;
}

.sign {
  color: rgba(255, 255, 255, 0.902);
}

.sign #github-link {
  color: rgba(255, 255, 255, 0.902);
}
.sign #github-link:hover {
  color: #6a6865bf;
}
#forecast {
  font-size: 20px;
}

#b-img {
  max-width: 15%;
}
